# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
venv/
env/
.venv/

# Environment variables
.env

# Application-generated database
osu_tracker.db

# IDE / Editor specific
.vscode/
.idea/